## Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
file_name = "Data_DS_Handbook\president_heights.csv"
df = pd.read_csv(file_name)
df.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [3]:
import yfinance as yf

# Lấy dữ liệu cho mã chứng khoán 'AAPL' (Apple Inc.)
ticker = yf.Ticker("AAPL")

# Lấy dữ liệu lịch sử
historical_data = ticker.history(period="1y")  # Lấy dữ liệu trong 1 năm qua

# In ra dữ liệu
print(historical_data)

                                 Open        High         Low       Close  \
Date
2024-03-20 00:00:00-04:00  174.894174  177.830307  174.267130  177.830307
2024-03-21 00:00:00-04:00  176.217935  176.655870  170.037113  170.564621
2024-03-22 00:00:00-04:00  170.952792  172.236738  169.260784  171.470352
2024-03-25 00:00:00-04:00  169.768390  171.131947  168.653644  170.047073
2024-03-26 00:00:00-04:00  169.201060  170.614385  168.783036  168.912430
...                               ...         ...         ...         ...
2025-03-13 00:00:00-04:00  215.949997  216.839996  208.419998  209.679993
2025-03-14 00:00:00-04:00  211.250000  213.949997  209.580002  213.490005
2025-03-17 00:00:00-04:00  213.309998  215.220001  209.970001  214.000000
2025-03-18 00:00:00-04:00  214.160004  215.149994  211.490005  212.690002
2025-03-19 00:00:00-04:00  214.220001  218.759995  213.750000  215.240005

                              Volume  Dividends  Stock Splits
Date
2024-03-20 00:00:00-04:00   53423100        0.0           0.0
2024-03-21 00:00:00-04:00  106181300        0.0           0.0
2024-03-22 00:00:00-04:00   71106600        0.0           0.0
2024-03-25 00:00:00-04:00   54288300        0.0           0.0
2024-03-26 00:00:00-04:00   57388400        0.0           0.0
...                              ...        ...           ...
2025-03-13 00:00:00-04:00   61368300        0.0           0.0
2025-03-14 00:00:00-04:00   60107600        0.0           0.0
2025-03-17 00:00:00-04:00   48073400        0.0           0.0
2025-03-18 00:00:00-04:00   42432400        0.0           0.0
2025-03-19 00:00:00-04:00   54237276        0.0           0.0

[250 rows x 7 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
type(historical_data)

pandas.core.frame.DataFrame

In [6]:
# Series trong Pandas:
## Tạo một Series.
data = pd.Series([1,2,3,3,4,2],name ="abc")
data

0    1
1    2
2    3
3    3
4    4
5    2
Name: abc, dtype: int64

In [7]:
type(data)

pandas.core.series.Series

In [8]:
data.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
data.values

array([1, 2, 3, 3, 4, 2])

In [ ]:
data = pd.Series([1,2,3,3,4,2],name ="abc")
data[data>3]

4    4
Name: abc, dtype: int64